{{ define "main" }}

{{ partial "header.html" . }}

{{ partial "navigation.html" . }}
<section class="hero-area single-portfolio" style='background-image: url("{{ .Params.main_image | relURL }}");'>

<div class="block col-md-8">
       <h1>{{ .Params.title}}</h1>
        <p>{{ .Params.project_hero_short_description}}</p>
        <a href="#portfolio-content"><i class="tf-ion-chevron-down"></i></a>
</div>

</section>

    <div class="content" id="portfolio-content">
      <div class="main-container">
          
        <div class="container portfolio-intro">
            
          <div class="contentblock">
              
              
              <h2><span>{{ .Params.title}}</span></h2>
              <hr>
              
              
               <div class="row bottom-margin-60 col-md-8 col-md-offset-2">
                <div class="col-md-12"> 
               
                  <div class="">
                    <div class="">
                      <h3>Description</h3>
                      <p>{{.Params.description}}</p>
                    </div>
                  </div>

                  <!--<div class="col-xs-12"><a class="largeblock" href="{{.Params.external_url}}">More information</a></div>-->
                </div>
              
              
                
                         
              </div>

        
        </div>
        </div>
    
 <section class="section section-bg portfolio-gallery">         
            <div class="container">
            
          <div class="contentblock">
              
            <div class="row">
              <div class="col-lg-12 bottom-margin-30">
                
                <div class="">

		          
                        {{ range .Params.gallery }}
                      
							<div class="col-xs-6">
                              
                              <img class="img-fluid mb-50" src="{{ . | relURL }}" alt="blog-image">
                            </div>
							
					   {{ end }}
                  </div>
                </div>
              </div>
              <div class="col-xs-12 bottom-margin-30 visible-xs">
                <hr>
              </div>
            
          
            <div class="row">
                <hr>
              {{ if .PrevInSection }}
              <div class="col-xs-12 col-sm-6"><a class="arrow-left" href="{{.PrevInSection.Permalink}}">View previous</a></div>
              {{ end }}
              {{ if .NextInSection }}
              <div class="col-xs-12 col-sm-6 text-right"><a class="arrow-right" href="{{.NextInSection.Permalink}}">View next</a></div>
              {{ end }}


             
            </div>
          </div>
        </div>
          </section>
          
        </div>
        </div>




{{ end }}
