@font-face {
    font-family: 'Likhari_B-Normal';
      src:  url('./fonts/Likhari_B-Normal.ttf.woff') format('woff'),
      url('./fonts/Likhari_B-Normal.ttf.svg#Likhari_B-Normal') format('svg'),
      url('./fonts/Likhari_B-Normal.ttf.eot'),
      url('./fonts/Likhari_B-Normal.eot?#iefix') format('embedded-opentype'); 
      font-weight: normal;
      font-style: normal;
}

.loaded #preloader{
	display: none;
}

#preloader{
	display: none;
}

body, p{
    font-family: 'Open Sans', sans-serif !important;
    font-size: 16px;
}

.h2-text {
    font-family: 'Likhari_B-Normal', sans-serif !important;
    font-weight: 300;
    letter-spacing: 3px;
    font-style: normal;
    font-size: 38px;
}

.para-large, .about-2 .para-large p {
    font-size: 20px;
    font-weight: 500;
}
.para-small {
    font-size: 14px;
}

.text-black {
    color: #000;
}

.portfolio-filter button{
	font-weight: 300;
}

.call-to-action h2,
.call-to-action p{
	color:#fff;

}

p {
	margin: 0 0 18px;
}

.mb-12 {
    margin-bottom: 12rem;
}
.mb-8 {
    margin-bottom: 8rem;
}
.mb-4 {
    margin-bottom: 4rem;
}

.mt-12 {
    margin-top: 12rem;
}
.mt-8 {
    margin-top: 8rem;
}
.mt-4 {
    margin-top: 4rem;
}
.mt-0 {
    margin-top: 0;
}
.ml-2 {
    margin-left: 15px;
}
.mr-2 {
    margin-right: 15px;
}

.pb-12 {
    padding-bottom: 12rem;
}
.pb-8 {
    padding-bottom: 8rem;
}
.pb-4 {
    padding-bottom: 4rem;
}
.pb-2 {
    padding-bottom: 2rem;
}
.pb-1 {
    padding-bottom: 1rem; 
}
.pl-6 {
    padding-left: 6rem;
}
.pl-4 {
    padding-left: 4rem;
}
.pl-2 {
    padding-left: 2rem;
}
.pr-6 {
    padding-right: 6rem;
}
.pr-4 {
    padding-right: 4rem;
}
.pr-2 {
    padding-right: 2rem;
}
.px-6 {
    padding-left: 6rem;
    padding-right: 6rem;
}
.px-4 {
    padding-left: 4rem;
    padding-right: 4rem;
}
.px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}
.py-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.pt-12 {
    padding-top: 12rem;
}
.pt-8 {
    padding-top: 8rem;
}
.pt-4 {
    padding-top: 4rem;
}
.pt-2 {
    padding-top: 2rem;
}
.pt-1 {
    padding-top: 1rem; 
}
.p-12 {
    padding: 12rem;
}
.p-8 {
    padding: 8rem;
}
.p-4 {
    padding: 4rem;
}
.p-3 {
    padding: 3rem;
}
.p-2 {
    padding: 2rem;
}
.p-1 {
    padding: 1rem;
}
.p-0 {
    padding: 0 !important;
}

.m-0 {
    margin: 0 !important;
}
.m-2 {
    margin: 2rem;
}

.m-4 {
    margin: 4rem;
}
.h-30 {
    max-height: 30rem;
}
.h-full {
    height: 100%;
}
.mh-12 {
    max-height: 12rem;
    width: auto;
}
.w-100 {
    width: 100%;
}
@media (max-width: 900px) {
    .mb-4-small {
        margin-bottom: 4rem !important;
    }
}
@media (max-width: 500px) {
    .mb-4-small {
        margin-bottom: 4rem !important;
    }
    .px-0-small {
        padding-left: 0;
        padding-right: 0;
    }
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}
/* partners section */
.partner-img {
    height: 100%;
}
@media (max-width: 500px) {
    .partner-img {
        height: auto;
        max-height: 200px;
        max-width: 100%;
    }
}


/* background sections + geometric background section */
.bg-steamfort {
    background-color: #fff;
    background-image: url("/images/backgrounds/concrete.jpg");
    background: linear-gradient( rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.45) ),url(/images/backgrounds/concrete.jpg);
    background-size: cover;
}
.section-bg {
    background: #595958;
}
.bg-dark-brown {
    background: rgb(37,34,30);
}
.bg-dark {
    background: rgb(63,58,58);
}
.bg-mid {
    background: #B2B2B2;
}
.bg-grey {
    background: rgb(98,102,106);
}
.bg-light {
    background: #faffb9;
}
.bg-light-grey, .row-eq-height .post-block.bg-light-grey {
    background: rgb(245,245,245);
}
.bg-white {
    background: #fff;
}
.bg-black {
    background: rgb(19,16,17);
}
.bg-pale {
    background: rgb(200,194,180);
}
.color-grey {
    color:#9d9da2;
}

/* faq section */
.faq .title h2 {
    color: #000;
}
.bg-white .title h2, .bg-light .title h2, .bg-white, .bg-light, .bg-light-grey, .bg-white h3, .bg-light h3, .bg-white ol a, .bg-light ol a, .bg-light-grey h3, .bg-light-grey a, .bg-white h1 {
    color: #000;
}
.bg-white ol a:hover, .bg-light ol a:hover, .bg-light-grey a:hover {
    color: rgb(150, 150, 190);
}
.bg-dark .title h2, .bg-dark-brown .title h2, .bg-dark, .bg-dark-brown, .bg-dark h3, .bg-dark-brown h3, .bg-dark ol a, .bg-dark-brown ol a {
    color: #fff;
}

.bg-white {
    background: #fff;
}
.bg-white a {
    color:#197ed8;
}
.bg-white a:hover {
    color: #94ae3b;
}

.faqsection {
    background: #e3dfdd;
    margin-bottom: 10px;
    border-radius: 4px;
}
.faqsection .question h3 {
    color: black;
}
.faqsection .answer {
    color: black;
    padding-bottom: 10px;
}

@media (max-width: 991px) {
    .faqsection .question h3 {
        padding: 20px 0px 10px;
    }
}

/* workshop section */

section.workshop {
    border-top: none;
    padding: 50px 0 100px;
}
/*section.workshop ~ section.workshop { border-top: solid 1px #BEBEBE; }*/

.workshop_image {
    max-width: 90%;
}
.workshop_images img:not(:last-child) {
    margin-bottom: 15px;
}
.workshop-block p {
    font-size: 20px;
}
.workshop-block ul {
    font-size: 20px;
    margin-bottom: 18px;
}
.workshop-block li, .workshop-block ul, .basic-content li {
    list-style: none;
}

.workshop-block li:before, .basic-content li:before {
    content: "·";
    font-size: 50px;
    line-height: 20px;
    vertical-align: sub;
    margin-right: 15px;
}
.workshop_button {
    margin-top: 50px;
}

@media (max-width: 767px) {
    .workshop_images {
        display: none;
    }
}

.title h2.orange {
    color: #7EA356;
}
.well.orange  {
    background: #7EA356;
    color: white;
}
.border.orange:before {
    background: #7EA356;
}

.title h2.green {
    color: 459BA3;
}
.well.green  {
    background: rgb(120,169,212);
    color: white;
}
.border.green:before {
    background: rgb(120,169,212);
}

.border.black {
    border-top: 2px solid black;
}

.title h2.grey {
    color: #595958
}
.well.grey  {
    background: #595958;
    color: white;
}
.border.grey:before {
    background: #595958;
}

.workshop .well h3 {
    font-size: 24px;
    color: white;
    padding: 10px 0px 20px;
}
.workshop .well p {
    font-size: 20px;
    color: #fff;
    padding: 8px 0px 15px;
}
.workshop .well {
    margin-bottom: 60px;
    border: none;
    border-radius: 0;
}
.workshop .title {
    padding-bottom: 10px;
}
.btn.btn-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(98,102,106);
    color: #fff;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 10px 35px;
    font-weight: 500;
}
.image-section {
    position: relative;
    max-height: 300px;
    overflow: hidden;
}

/* specialities section */
.specialities .title h2 {
    color: #000;
}
.rm-roundel {
    border-radius: 50%;
    padding: 75px 20px;
    height: 200px;
    width: 200px;
    margin: 20px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.rm-roundel h6 {
    line-height: 16px;
    font-size: 16px;
    margin: 0px auto;
}
.align-middle {
    vertical-align: middle !important;
}

@media (max-width: 1199px) {
    .rm-roundel {
        padding: 75px 20px;
        height: 170px;
        width: 170px;
        margin: 20px auto;
    }
}
@media (max-width: 991px) {
    .specialities .col-md-3 {
        width: 50%;
        float: left;
    }
}

/* text colour */
.text-dark p, .text-dark h2, .text-dark, .text-dark h3, .text-dark h4 {
    color: #141414;
}


/* Nav bar styling */
.navbar {
    border-radius: 0;
}
.navigation {
    background-color: rgb(255, 255, 255);
    background: repeat url("../../images/nav-light.jpg");
    position: sticky;
    top: 0;
}
.navigation .navigation-menu li.active a {
    color: #7EA356;
}
.navigation .navigation-menu li.active>a {
    color: #7EA356;
}
.navigation .navigation-menu li a:hover, .navigation .navigation-menu li a:focus {
    background: transparent;
    color: #7EA356;
}
.navigation .navigation-menu li a {
    color: #282522;
    font-weight: 500;
    font-size: 26px;
    font-family: 'Likhari_B-Normal', sans-serif;
    letter-spacing: 3px;
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 1), 0px 0px 2px rgba(255, 255, 255, 1), 0px 0px 4px rgba(255, 255, 255, 1), 0px 0px 10px rgba(255, 255, 255, 1);
}
.navigation .navigation-menu li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

.navigation .navigation-menu li:hover > ul,
.navigation .navigation-menu li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}
.navigation .navigation-menu .submenu a {
    position: relative;
    padding: 10px 15px;
    display: inline-block;
    white-space: nowrap;
}
.navigation .navigation-menu li ul li {
    clear: both;
    width: 100%;
}
.navigation .navigation-menu li ul li:last-of-type {
    padding-bottom: 15px;
}
.nav ul {
    list-style: none;
}
.navigation .navigation-menu .dropdown {
    background-color: #fff;
    margin: 0;
}
.navigation .navigation-menu .dropdown hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #3b3834;
    width: 85%;
}
.navigation .navbar-header a, .copyright .navbar-brand {
    color: #282522;
    font-weight: 500;
    font-size: 50px;
    font-family: likhari_b-normal,sans-serif;
    letter-spacing: 3px;
    line-height: 50px;
}
.copyright .navbar-brand {
    color: #7ea356;
}
.logo .subtitle {
    display: block;
    text-transform: none;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif !important;
    letter-spacing: 1px;
    color: lightslategray;
}
.navigation .navbar-header h1 {
    margin: 0;
}
@media (max-width: 992px) {
    .navigation .navbar-header a, .copyright .navbar-brand {
        font-size: 40px;
        letter-spacing: 4px;
    }
    .logo .subtitle {
        font-size: 11px;
    }
    .navigation .navigation-menu li a {
        font-size: 24px;
    }
    .h2-text {
        letter-spacing: 0px;
        font-size: 30px;
    }
}

@media (max-width: 400px) {
    .navigation .navbar-header a, .copyright .navbar-brand {
        font-size: 30px;
        letter-spacing: 4px;
    }
    .logo .subtitle {
        font-size: 10px;
    }
    .h2-text {
        letter-spacing: 0px;
        font-size: 24px;
    }
}

/* Button styling */
.btn {
    background-color: #7EA356;
    color: #fff !important;
    transition: all .3s ease-in 0s;
}
.btn:hover {
    color: #EFF787 !important;
    transition: all .3s ease-in 0s;
}
.btn-transparent {
    opacity: 0.7;
}
.btn-bold {
    font-size: 18px;
    font-weight: 700;
}
.hero-area .block .btn-transparent {
    border: none;
    padding: 10px 45px;
    font-size: 16px;
    font-weight: 700!important;
    text-transform: uppercase;
}
.btn-light {
    background-color: #bbe094;
    color: #000 !important;
    padding: 10px 40px;
}
.btn-light:hover {
    color: #302e2e !important;
}
.btn-extra-margin {
    margin-top: 80px;
}

/* Calendar styling */
.fc-view {
    background-color: #fff;
}
.fc-head {
    background-color: rgb(120,169,212);
}
/* prevent events from being clicked */
.fc-event {
    pointer-events: none;
    cursor: pointer;
}
/* calendar key */
.calendarKey .list-group-item {
    line-height: 30px;
}
.calendarKey .badge {
    background-color: #B2B2B2;
    border-radius: 0px;
    min-width: 30px;
    min-height: 30px;
}
.calendarKey {
    margin-top: 15px;
    padding-left: 0;
}
#calendarSection .checkbox, #calendarSection .checkbox .terms-text {
    color: #000;
    padding-left: 0px;
    margin-bottom: 5px;
}
#calendarSection .checkbox .terms-text a {
    color: rgb(74,140,151);
}
#calendarSection .checkbox label {
    color: #000;
    margin-bottom: 5px;
}
#calendar .fc-bgevent {
    background-color: #b2b2b2;
    opacity: 1;
}
.form-control::-webkit-input-placeholder { color: #B2B2B2; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #B2B2B2; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #B2B2B2; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #B2B2B2; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #B2B2B2; }  /* Microsoft Edge */
.g-recaptcha {
    margin-bottom: 15px;
}

/* Contact section */
.contact-info p, .contact-form p {
    color: #fff;
}
.contact-info p a {
    color: #7EA356;
}
.con-info i, .con-info span {
    color: #fff;
}
.contact-form .form-control {
    background-color: #fff;
    border-radius: 3px;
}
input[type=checkbox], input[type=radio] {
    margin: 4px 4px 0;
}
.checkbox .terms-text {
    color: #fff;
    padding-left: 0px;
    margin-bottom: 5px;
}
.checkbox .terms-text a {
    color: #7EA356;
}
.checkbox label {
    color: #fff;
}
.form-error {
    color: red;
}
.form-control {
    color: #000;
}

/* Blog Section */
.post-block {
    background-color: #595958
}
.blogImage, .blogImage img {
    width: 100%;
}
.blogpage img {
    max-width: 100%;
}
.blogCoverImage {
    object-fit: cover;
}
.post-block .media-wrapper {
    height: 192px;
}
.post-block .media-wrapper-large {
    height: 265px;
}

/* About Steamfort Section */
.about .block {
    padding: 30px;
    border-bottom: 2px solid transparent;
    transition: .5s all;
    margin-bottom: 20px;
    padding-bottom: 80px;
    color: #000;
    height: 100%;
}
.about .col-md-4:nth-of-type(1) .block  {
    background: #7EA356;
}
.about .col-md-4:nth-of-type(2) .block  {
    background: rgb(120,169,212);
}
.about .col-md-4:nth-of-type(3) .block  {
    background: rgb(230,107,115);
}
.about .block h3 {
    color: #000;
    font-weight: 500;
    margin: 20px auto 25px;
}
.about .block p {
    font-size: 16px;
}
/* Icons in the About section */

.about .block:hover .icon-box {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

.about .block .icon-box {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 40px auto 30px;
    font-size: 50px;
    color:rgba(240,240,240,1);
    transition-duration: 0.3s;
    transition-property: -webkit-transform, -webkit-border;
    transition-property: transform, border;
    transition-property: transform, -webkit-transform, border, -webkit-border;
}
.about .block .icon-box:before {
    border-top: none;
    border-right: none;
}

.about .block .icon-box:after {
    border-bottom: none;
    border-left: none;
}

.about .block .icon-box h3 {
    color: #adada9;
}
.about .block .icon-box .svg-image {
    height: 100px;
    width: 100px;
}
.about .bottom {
    position: relative;
    bottom: 100px;
}

/* full width image section */
.image-section img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (min-width: 1199px) {
    .workshop .image-section img {
        margin-top: -50px;
    }
}

/* external advert image section */
.ad_img {
    max-width: 90%;
}

/* upcoming events section */
.upcoming {
    padding: 70px 0 0;
}
.upcoming-event {
    margin-bottom: 30px;
}
.event_image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}   

.event-date {
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px 0 0;
    color: #484848;
}
.event-cost {
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #484848;
    background: azure;
    padding: 10px 20px 15px;
}

.event-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 0;
    padding: 0;
    margin-bottom: 20px;
    color: #000;
}

.event-location {
    font-size: 14px;
    line-height: 17px;
    height: 2em;
    margin: 0;
    color: #484848;
}
.event-arrow {
    font-size: 30px;
    color: #484848;
    display: block;
    margin: 9px;
}
.event-link {
    height: 50px;
    width: 50px;
    border-radius: 50%; 
    border: 1px solid #cacaca;
    margin: auto;
    transition: all 0.3s;
}
.upcoming-event:hover .event-link {
    transform: scale(1.05);
    background: #FFF;
}
.nopadding {
    padding: 0 !important;
}
.gig-section {
    padding: 40px 0;
}
.gig-surround, .interview-surround {
    margin-bottom: 10px;
}
.gig-listing, .interview {
    padding: 1rem 2rem;
    line-height: 20px !important;
    font-size: 16px;
    color: black;
}
.gig-date {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #484848;
}
.gig-cost {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #484848;
}
.bold {
    font-weight: 700;
}

@media (max-width: 1199px) {
    .event-title {
        margin-bottom: 25px;
    }
}

@media (max-width: 767px) {
    .nopadding {
        padding: 0px 15px !important;
    }
    .event_image {
        max-height: 250px;
    }
    .event-location {
        margin-bottom: 10px;
    }
    .event-link {
        margin-bottom: 20px;
    }
    .gig-listing {
        padding: 1rem;
        font-size: 14px;
    }
}
@media (max-width: 500px) {
    .gig-listing {
        padding: 1rem;
        font-size: 12px;
    }
}

/* About and music sections */
#reviews {
    list-style: none;
}
#reviews li {
    margin-bottom: 12px;
}
#bandmembers {
    height: 100%;
    list-style: none;
    color: white;
}
#soundcloud {
    list-style: none;
}
.purchase .para-large {
    font-weight: 700;
}
.about-2 .content-block {
    padding: 35px;
    margin-top: 0;
}
.about-2 p, .album p {
    color: #000;
    font-size: 18px;
}
.about-2 h2 {
    color: #000;
    font-size: 32px;
}
.about-2 {
    color: #000;
}
.about-2 ol, .about-2 ul {
    font-size: 18px;
}
.about-2 li {
    margin-bottom: 5px;
}
.img-float-left {
    float: left;
    max-height: 500px;
    margin: 0 40px 40px 0;
    max-width: 100%;
}
.img-center {
    max-height: 500px;
    margin: 0 40px 40px 0;
    max-width: 100%;
} 
.flex-ver-center {
    align-items: center;
}
#document #player {
    max-width: none;
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
}
.row-eq-height .post-block {
    background: rgb(63,58,58);
    position: relative;
    transition: all 0.3s;
}
.row-eq-height .post-block .bg-dark {
    transition: all 0.3s;
}
.row-eq-height .post-block:hover, .row-eq-height .post-block:hover .bg-dark {
    background: rgb(83,78,78);
    transition: all 0.3s;
}
.row-eq-height .post-block.bg-light-grey:hover {
    background: rgb(245,245,245);
}
.row-eq-height .post-block .content a {
    color: #9e9ed0
}
.row-eq-height .post-block .content a {
    color: #9e9ed0
}
.row-eq-height .post-block a:hover h3 {
    transition: all 0.3s;
}
.row-eq-height .post-block .content a:hover, .row-eq-height .post-block a:hover h3 {
    color: #94ae3b;
    transition: all 0.3s;
}
.row-eq-height .post-block a.btn {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0%);
}
.row-eq-height article {
    margin-bottom: 30px;
}

.post-block .content h3.small {
    font-size: 18px;
    line-height: 1.3;
  }
/* flex col*/
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex {
    display: flex;
}
.flex-col .post-block {
    display: flex;
}
@media (max-width: 991px) {
    .row-eq-height {
        display: block;
    }
    .about .block {
        padding-bottom: 100px;
    }
    .about .block .icon-box .svg-image {
        height: 80px;
        width: 80px;
    }
    .about .block .icon-box {
        width: 80px;
        height: 80px;
        margin: 20px auto 30px;
    }
}
@media (max-width: 600px) {
    .col-xs-none {
        display: none;
    }
    .col-none-12 {
        width: 100%;
    }
}

.flex-container {
    height:100%;
    display:flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-align-content: stretch;
    align-content: stretch;
}

.left {
    width:50%;
    position: relative;
    overflow: hidden;
}
.right {
    -webkit-flex: 1;
    flex:1;
    position:relative;
    min-height: 500px;
}
.left img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    height: auto;
    width: 100%;
    max-height: unset;
}

@media (min-width: 993px) {
    .left img {
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
        height: auto;
        width: 100%;
        max-width: unset;
    }
}
@media (max-width: 992px) {
    .about-2 .content-block {
        padding: 70px 35px;
    }
    .left, .right {
        width: 100%;
    }
    .left {
        height: 400px;
    }
    .flex-container {
        height:100%;
        display:flex;
        display: -webkit-flex;
        flex-direction: row;
        -webkit-flex-direction: column;
        -webkit-align-content: stretch;
        align-content: stretch;
    }
    
}
@media (max-width: 992px) and (min-width: 621px) {
    .left img {
        height: auto;
        max-width: unset;
    }
}
@media (max-width:620px) and (min-width: 465px) {
    .left img {
        height: 100%;
        width: auto;
        max-width: unset;
    }
}
@media (max-width: 464px) {
    .left {
        height: 300px;
    }
    .left img {
        height: 100%;
        width: auto;
        max-width: unset;
    }
}

/* list sections in free text */

ol, ul {
    margin: 0 0 0 15px;
    padding: 0;
    list-style: unset;
    list-style-type: disc;
}

/* Footer */

.social-icon ul li a {
    background-color: #7ea356;
    border-radius: 50%;
    -webkit-transform: none;
    transform: none;
    position: relative;
}
.social-icon ul li a i, .social-icon ul li a .social-image {
    color: #fff;
    opacity: 0.6;
    -webkit-transform: none;
    transform: none;
}
.social-icon ul li:hover a {
    background-color: #8ea774;
    -webkit-transform: none;
    transform: none;
}
.social-icon ul li:hover a i, .social-icon ul li:hover a .social-image {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}
.social-image {
    height: auto;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    color: #55606a;
    display: inline-block;
    font-size: 32px;
    line-height: 70px;
    margin: 0;
    opacity: .3;
    filter: alpha(opacity=30);
    transition: all 400ms ease-out 0s;
}
.list-inline {
    display: flex;
    justify-content: center;
}
.flex-align-center {
    align-items: center;
    display: flex;
}
.list-inline-between {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 768px) {
    .social-image {
        width: 40px;
    }
}

/* basic content styling */

.basic-content li {
    margin-bottom: 10px;
}

.basic-content img {
    max-width: 100%;
    height: auto;
    padding: 20px;
}
.basic-content .img-50 {
    max-width: 50%;
    max-height: 600px;
    height: auto;
    padding: 20px;
}
.basic-content .img-50.float-right {
    padding: 20px 20px 40px 40px;
}
.basic-content .img-50.float-left {
    padding: 20px 40px 40px 20px;
}

.p-text-4 p {
    padding: 1rem 4rem;
}
.basic-content.large-para p {
    font-size: 19px;
}
@media (max-width: 768px) {
    .basic-content.large-para p {
        font-size: 16px;
    }
}
@media (max-width: 600px) {
    .basic-content .img-50 {
        max-width: 100%;
        max-height: none;
        width: 100%;
        float: none;
        padding: 20px !important;
    }
}

/* gallery grid section */
.grid-item, .video-grid-item {
    /*width: 565px;*/
    height: auto;
    padding: 10px;
}
p.image-caption {
    margin: 5px 0px 0px;
}
.grid-sizer,
.grid-item, 
.video-grid-item,
.video-grid-sizer { width: 33%; }
.grid-item img {
    width: 100%;
}
.gallery-filter {
    margin-bottom: 40px;
    text-align: center;
}
.gallery-filter button, .video-gallery-filter button {
    border: none;
    outline: none;
    border: 1px solid rgba(220,220,220,.3);
    background: transparent;
    display: inline-block;
    font-size: 16px;
    padding: 6px 20px;
    font-weight: 500;
    color: #737f8a;
    transition: .3s all;
}
.gallery-filter button.active, .video-gallery-filter button.active {
    border: 1px solid #57cbcc;
    color: #57cbcc;
}
.nodisplay {
    display: none !important;
}

/* at 768 width set gallery to one column */
@media (max-width: 768px) {
    .grid-sizer,
    .grid-item,
    .video-grid-item,
    .video-grid-sizer { width: 100%; }
}

/* lazy loading */
.lozad {
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.lozad.loaded {
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.grid-item {
    opacity: 0;
}
/* navbar size fix */
@media (min-width: 900px) and (max-width: 991px) {
    .container {
        width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 899px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}