
{{"<!-- Start Contact Us Mailchimp Form -->" | safeHTML}}
<section id="contact-us" class="contact-us bg-dark-brown">
    <div class="container">
        <div class="row">

            {{"<!-- section title -->" | safeHTML}}
            <div class="title text-center wow fadeIn" data-wow-duration="500ms">
                <h2>{{ with .Params.heading }} {{ . }} {{ end }} <span class="color">{{ with .Params.heading_span }} {{ . }} {{ end }}</span></h2>
            </div>
            {{"<!-- /section title -->" | safeHTML}}

            {{"<!-- Contact Details -->" | safeHTML}}
            <div class="contact-info col-md-6 wow fadeInUp" data-wow-duration="500ms">
                {{ with .Params.title }}<h3>{{ . }}</h3> {{ end }}
                {{ with .Params.content | markdownify}} <p> {{ . }} </p> {{ end }}
                <div class="contact-details">
                    {{ range .Params.contactdetails }}
                    <div class="con-info clearfix">
                        <i class="{{ .icon }}"></i>
                        <span>{{ .info }}</span>
                    </div>
                    {{ end }}
                </div>
            </div>
           
            {{"<!-- Contact Form -->" | safeHTML}}
            <div class="contact-form col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                {{ with .Params.subscribe_title }}<h3>{{ . }}</h3> {{ end }}
                {{ with .Params.subscribe_content | markdownify}} <p> {{ . }} </p> {{ end }}
                {{ with .Params.mailchimp_link}}<form id="subscribe-form" name="subscribe-form" action="{{ . }}" method="POST">{{ end }}
                    {{ with .Params.mailchimp_u}}<input type="hidden" name="u" value="{{ . }}">{{ end }}
                    {{ with .Params.mailchimp_id}}<input type="hidden" name="id" value="{{ . }}">{{ end }}
                    

                    <div class="form-group">
                        <input type="email" placeholder="Your Email *" class="form-control" name="MERGE0" id="MERGE0" data-error="#errNm1" required>
                        <div class="form-error" id="errNm1"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="First Name *" class="form-control" name="MERGE1" id="MERGE1" data-error="#errNm2" required>
                        <div class="form-error" id="errNm2"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Surname *" class="form-control" name="MERGE2" id="MERGE2" data-error="#errNm3" required>
                        <div class="form-error" id="errNm3"></div>
                    </div>
                    {{ with .Params.terms_and_conditions_link}}<div class="checkbox"><label for="terms" class="terms-text">We take your data privacy seriously. Please read our <a href="{{ . }}" target="_blank">Privacy Policy</a>.</label></div>{{ end }}
                    <div class="form-group checkbox">
                        <label><input id="terms" name="terms" type="checkbox" value="" required data-error="#errNm4">Accept Privacy Policy</label>
                        <div class="form-error" id="errNm4"></div>
                    </div>

                    <div id="cf-submit">
                        <input type="submit" id="contact-submit-button" class="btn" value="Subscribe">
                    </div>

                </form>
                <div id="mail-success" class="success">
                    Thank you. You have successfully joined our mailing list.
                </div>

                <div id="mail-fail" class="error">
                    Unfortunately, there has been an error and you couldn't join our mailing list at this time.
                </div>
            </div>

        </div>
    </div>

    
    {{ if .Params.enable_maps }}
    {{"<!-- Google Map -->" | safeHTML}}
    <div class="google-map">
        <div id="map-canvas" {{ with .Params.mapLatitude }} data-latitude="{{ . }}" {{ end }} 
        {{ with .Params.mapLongitude }} data-longitude="{{ . }}" {{ end }}></div>
    </div>
    {{ end }}

</section>
{{"<!-- /contact -->" | safeHTML}}
