{{"<!-- Skills -->" | safeHTML }}
<section id="team-skills" class="parallax-section section section-bg overly">
    <div class="container">
        <div class="row">
            {{"<!-- section title -->" | safeHTML }}
            <div class="col-md-12">
                <div class="title text-center">
                    <h2>{{ with .Params.skills_title }} {{ . }} {{ end }} </h2>
                    <div class="border"></div>
                </div>
            </div>
            {{"<!-- /section title -->" | safeHTML }}
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ with .Params.skills_heading }} <h2> {{ . }} </h2> {{ end }}
                {{ with .Params.skills_description}} <p> {{ . }} </p> {{ end }}
                <img class="img-responsive" src="{{ .Params.skill_image | absURL }}" alt="image">
            </div>
            <div class="col-md-6">
                <ul class="skill-bar">
                    {{ range .Params.skill_percentage_section}}
                    <li>
                        <p>{{ .section_title }}</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                aria-valuemax="100" style="width:{{ .skill_percentage }}%">
                            </div>
                        </div>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</section>
{{"<!-- /skill -->" | safeHTML }}
