<section class="specialities bg-pale section">
    <div class="container text-center">
        <div class="row ">
            <div class="title wow fadeIn" data-wow-duration="1500ms">
                <h2>{{ .Params.specialities_title }}  </h2>
            </div>
        </div>
    </div> 
    <div class="container specialities">
        <div class="row">
            {{ $counter := 1000 }}
            {{ range .Params.specialities_section }}
                <div class="col-md-3">
                    <div class="rm-roundel text-center bg-dark wow fadeIn" data-wow-duration="{{ $counter }}ms">
                        <h6 class="align-middle">{{ .specialities_text }}</h6>
                    </div>
                </div>
                {{ $counter = add $counter 400 }}
            {{ end }}
        </div>
    </div>
    {{ if .Params.add_button_link }}
    <div class="row ">
        <div class="content text-center btn-extra-margin">
            <a href="{{ .Params.button_url }}" class="btn btn-light"> {{ .Params.button_text }} </a>
        </div>
    </div>
    {{ end }}
</section>